*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
header{
    background-color: #3B5D50;
   
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 70px;
        .nav-left{
            color: white;
            margin-top: 20px;
            .logo{
                font-size: 40px;
            }
        }
        .nav-right{
            display: flex;
            .list{
              ul{
                display: flex;
               
                list-style: none;
                li{
                    margin-right: 25px;
                    color:white;
                    font-size: 18px;
                }
              }
            }
            .icons{
                display: flex;
                i{
                    margin: 0px 10px;
                    font-size: 20px;
                    color: white;
                }
            }
        }
      
    }

}

main{
    width: 100%;
 
    #section1{
        width: 100%;
         
    background-color: #3B5D50;
        display: flex;
        padding: 0px 50px;
        justify-content: space-between;
        align-items: center;
        .main-left{
            width: 40%;
            align-items: center;
            h1{
                color:white;
                margin: 30px 0px;
                font-size: 50px;
            }
            p{
                color:gray;
                margin-bottom: 30px;
                font-size: 20px;
            }
            .btn-one{
                display: flex;
                .btn-two{
                    background-color:#F8B810;
                    color:rgb(19, 18, 18);
                    padding: 15px 30px;
                    margin-right: 15px;
                    border:none;
                    border-radius: 20px;
                    font-size: 15px;
                }
                .btn-three{
                     
    background-color: #3B5D50;
                    color:white;
                    padding: 15px 30px;
                    border: 1px solid gray;
                    border-radius: 20px;
                    font-size: 15px;
                }
            }
        }
        .main-right{
            width: 60%;
        }
    }

    #section2{
        display: flex;
        padding: 100px 50px;
        background-color:#EFF2F1;
        .section2-left{
            width: 50%;
            h1{
                padding-bottom: 20px;
            }
            p{
                padding-bottom: 50px;
                color: gray;
            }
            .boxs{
                i{
                    font-size: 25px;
                    
                }
                display: flex;
                .two-box{
                    margin-right: 70px;
                    h3{
                        padding: 12px 0px;
                    }
                }
                .other-box{
                    h3{
                        padding: 12px 0px;
                    }
                }
            }
        }
        .section2-right{
            width: 50%;
            img{
                width: 80%;
                height: 90%;
                border-radius: 20px;
                margin-left: 100px;
            }
        }
    }

    #section3{
        background-color:#EFF2F1;
        .text3{
            text-align: center;
        }
        .fotos{
            display: flex;
            padding: 50px 50px;
            .foto{
                margin: 10px 20px;
                img{
                    width: 100%;
                }
                .lawson{
                    margin: 10px 0px 10px 0px;
                    font-size: 30px;
                }
                .ceo{
                    color:gray;
                   
                }
                .separate{
                    color:gray;
                    padding: 20px 0px;
                }

            }
        }
    }

    #section4{
        background-color:#EFF2F1;
        padding: 100px 50px;
        h1{
            text-align: center;
            padding: 30px 0px;
        }
        p{
            padding: 20px 150px;
            text-align: center;
            line-height: 32px;
        font-size: 20px;
        color: gray;
        }
      
        .section4-foto{
            display: flex;
          justify-content: center !important;
          img{
            border-radius: 50px;
            width: 100px;
          }
        }
        .metn{
            text-align: center;
            h3{
                padding: 10px 0px;
            }
            span{
                color: gray;
            }
        }
    }

    #section5{
        background-color:#EFF2F1;
        .home-text{
          display: flex;
            justify-content: space-between;
            align-items:center;
            padding: 100px 50px;
            .home-textone{
                h1{
                    color:#2F2F2F;
                }
                p{
                    color:#6A6A80;
                    margin: 15px 0px;
                }
                .btn-three{
                    background-color: #2F2F2F;
                    color:white;
                                    padding: 15px 30px;
                                    border: 1px solid gray;
                                    border-radius: 20px;
                                    font-size: 15px;
                                }
            }
          .home-img{

            img{
                width: 100%;
            }
            p{
                color:#2F2F2F;
                margin: 10px 0px;
                text-align: center;
            }
            h3{
                text-align: center;
                color:#2F2F2F;
            }
          }
        }
    }

}


#footer{
    display: flex;
    justify-content: space-between;
    padding: 100px 50px 0px 50px;
    .footer-left{
        .footer-text{
            display: flex;
            i{
                padding-top: 5px;
                padding-right: 5px;
                font-size: 22px;
                color: gray;
            }
            h2{
                color: rgb(13, 97, 7);
            }
        }
        .input1{
            margin: 10px 0px;
            padding: 18px 25px;
            border-radius: 10px;
            border: 1px solid gray;
        }
        .input2{
            margin: 10px 10px;
            padding: 18px 25px;
            border-radius: 10px;
            border: 1px solid gray;
        }
        button{
            padding: 15px 30px;
            border-radius: 10px;
            background: #3b5d50;
            border:none;
           
            i{
                font-size: 20px;
                color: white;
            }
        }
    }
    .footer-right{
        img{
            width: 50%;
        }
    }
}

.big-text{
    display: flex;
    padding: 30px 50px;
    .big{
        h2{
            font-size: 35px;
          
        }
        p{
          //  margin-top: 30px;
            color:gray;
        }
        .icons{
            padding: 30px 0px;
            button{
                padding: 12px 12px;
                border-radius: 20px;
                background-color:#dce5e4;
                color:#3b5d50;
                border: none;
                i{
                    font-size: 15px;
                }
            }
        }
    }
    .big-about{
        margin: 30px 86px;
        ul{
            list-style: none;
            li{
                margin: 5px 0px;
                font-size: 18px;
            }
        }
    }
}
.xett{
    margin: 0px 50px;
}
.footer-last{
    display: flex;
    padding: 80px 50px;
    justify-content: space-between;
    align-items:center;
    .footer-text1{
        color: gray;
    }
    .footer-text2{
        color: gray;
    }
}


@media(max-width:500px){
    nav{
        flex-direction: column;
      gap: 25px;
    }
    main{
        flex-direction: column;
        align-items:center;
        justify-content: center;
        text-align: center;
    }
    #section1{
        grid-template-columns: 1fr;
    }
}

